.color-primary-0 {
  color: #226666;
}

/* Main Primary color */
.color-primary-1 {
  color: #669999;
}

.color-primary-2 {
  color: #407f7f;
}

.color-primary-3 {
  color: #0d4d4d;
}

.color-primary-4 {
  color: #003333;
}

.color-complement-0 {
  color: #aa6c39;
}

/* Main Complement color */
.color-complement-1 {
  color: #ffd1aa;
}

.color-complement-2 {
  color: #d49a6a;
}

.color-complement-3 {
  color: #804515;
}

.color-complement-4 {
  color: #552700;
}

/* As RGBa codes */

.rgba-primary-0 {
  background-color: rgba(34, 102, 102, 1);
}

/* Main Primary color */
.rgba-primary-1 {
  background-color: rgba(102, 153, 153, 1);
  border: none;
  color: #333;
  border-radius: 2.5px;
}

.rgba-primary-1:hover {
  transition: 0.25s;
  color: #111;
  background-color: #407f7f;
}

.rgba-primary-2 {
  background-color: rgba(64, 127, 127, 1);
}

.rgba-primary-3 {
  background-color: rgba(13, 77, 77, 1);
}

.rgba-primary-4 {
  background-color: rgba(0, 51, 51, 1);
}

.rgba-complement-0 {
  background-color: rgba(170, 108, 57, 1);
}

/* Main Complement color */
.rgba-complement-1 {
  background-color: rgba(255, 209, 170, 1);
}

.rgba-complement-2 {
  background-color: rgba(212, 154, 106, 1);
  border: none;
  color: #333;
  border-radius: 2.5px;
}

.rgba-complement-2:hover {
  border: none;
  border-radius: 2.5px;
  color: #333;
  background-color: #b88053;
}

.rgba-complement-3 {
  background-color: rgba(128, 69, 21, 1);
}

.rgba-complement-4 {
  background-color: rgba(85, 39, 0, 1);
}

#card {
  background-color: #eee;
  color: #555;
  cursor: pointer;
}

.col-2 a {
  text-decoration: none !important;
}

#card img {
  aspect-ratio: 16/10;
  object-fit: cover;
}

#card-text {
  padding: 10px;
}

#card-text h5 span {
  float: right;
  margin: -5px 0 0 0;
}

#title {
  margin-top: 55px;
}

#category_products a {
  color: #555;
  text-decoration: none;
}

#category_products #category-items-wrapper a:hover {
  text-decoration: underline;
}

.active-a {
  color: #222 !important;
  font-weight: bold !important;
}

#category-items-wrapper .col-2 {
  display: inline-block;
  margin: 0 5px;
  box-shadow: -1px 1px 5px #999;
}

#page-number-wrapper {
  /* background-color: #eee; */
  margin: 5rem 0 0 0;
}

#page-number-wrapper div:first-child {
  width: 50%;
  margin: 0 auto;
  background-color: #ccc;
  /* padding: .5rem .5rem .01rem .5rem; */
  border-radius: 1.5rem;
}

#page-number-wrapper ul {
  padding: 0.5rem;
}

#page-number-wrapper ul li {
  list-style: none;
  display: inline;
  margin: 0 15px;
}

#page-number-wrapper a {
  padding: 0.5rem;
  color: #555;
}

#page-number-wrapper a:hover {
  color: #333;
}

#filter-wrapper {
  position: absolute;
  right: 2rem;
}

#filter-wrapper .f {
  color: #333 !important;
  padding: 0.5rem;
  border-radius: 100%;
  margin-top: -7px;
  cursor: pointer;
  background-color: transparent;
}

#filter-wrapper-text {
  position: absolute;
  right: -0.5rem;
  width: 120px;
  display: none;
  z-index: 11;
  background-color: #ccc;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}

#filter-wrapper-text .f {
  position: absolute;
  top: -10px;
  right: 10px;
  color: #ccc !important;
}
