#contact {
  padding: 7.5rem;
}

#c-d {
  border-radius: 0.25rem;
  background-image: url(../assets/img/undraw_contact_us_re_4qqt.svg);
  background-color: rgba(51, 51, 51, 0.2);
  background-size: cover;
  padding: 1.5rem;
}

#c-d input {
  margin: 0.35rem 0;
  border-radius: 0.15rem;
  outline: 1px solid #333;
  border: none;
  padding: 0.2rem 0.5rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

#c-d label {
  margin: 0.35rem 0;
  width: 22%;
  font-weight: 500;
}

#c-d textarea {
  margin-top: 0.5rem;
  width: 50%;
  border-radius: 0.15rem;
  outline: 1px solid #333;
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

#c-d button {
  margin: 1rem 0;

  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  outline: 2px solid transparent;
}

#c-d button:hover {
  border: 1px solid #669999;
  outline: 2px solid #407f7f;

  transition: outline 0.5s;
}

#c-d-p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: rgba(51, 51, 51, 0.5);
}
#input-wrapper {
  background-color: rgba(238, 238, 238, 0.5);
  padding: 1rem;
  backdrop-filter: blur(5px);
}
