#inshipment:first-child div {
    background-color: #eee;
    border-radius: .5rem;
    margin: 20px 0;
    padding: 1rem;
}

#table-wrapper {
    max-height: 450px;

}

.f {
    color: #555;
}

#table-wrapper select {
    padding: .2rem;
    border-radius: .25rem;
    width: 20%;
}

a {
    color: #555;
    text-decoration: none;
}

a:is(:hover, :focus) {
    color: #111;
}

.table td {
    color: #555 !important;
}